
 
 .data {
     display:none;
 }
 
 .g-signin2 {
     position: absolute;
 }

body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://www.ashmolean.org/sites/default/files/ashmolean/images/media/c_assassins_creed_ubisoft_entertainment._all_rights_reserved_1-knosos-scene-v3-1000.jpg) no-repeat;
    background-size: cover;
}
 
