
 
 .data {
     display:none;
 }
 
 .g-signin2 {
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -50%;
     margin-left: -50%;
 }

body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reddit.com%2Fr%2Fgaming%2Fcomments%2F5klq7j%2Fthe_draw_distance_of_witcher_3%2F&psig=AOvVaw0L5IN8a_p9OoJlRXVW7Yhm&ust=1736002226978000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNC_3bTm2YoDFQAAAAAdAAAAABAK) no-repeat;
    background-size: cover;
}
 
